header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: 0.5s;
    background-color: #333333;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 10px 15px 17px 0 rgba(0,0,0,.5);
    z-index: 9999;
  }
  
  header.shadow {
      background: #6e0f3b;
  }
  
 .logo{
      display:inline-block;
      align-items: center;
      column-gap: 0.5rem;
      margin-left: 15px;
  }

  .logo img {
    height: 50px;
    width: 170px;
  }

  .navbar{
      display: flex;
      column-gap: 3rem;
  }
  .navbar li{
      position: relative;
      list-style: none;
  }
  
  .navbar a{
      font-size:  1rem;
      font-weight: 500;
      font-family: "Montserrat Alternates", sans-serif;
      color: aliceblue;
      text-decoration: none;
  }
  
  .navbar a::after{
      content: '';
      width: 0;
      height: 2px;
      background: aquamarine;
      position: absolute;
      bottom: -4px;
      left: 0;
      transition: 0.4s all linear;
  }
  
  .navbar a:hover::after, .navbar::after {
      width: 100%
  }
  
  #menu-icon{
      font-size: 24px;
      cursor: pointer;
      z-index: 1000001;
      display: none;
  }
  
  .btnL {
      padding: 0.7rem 1.4rem;
      margin-left: 20px;
      background: #D9D9D9;
      color: #706C61    ;
      font-weight: bold;
      font-family: "Montserrat Alternates", monospace;
      border-radius: 0.5rem;
      text-decoration: none;
      color: #706C61;
      margin-right: 20px;
      margin-left: 40px;
  }
  
  .btnL:hover {
      background: #befffc;
      color: #000;
  }