@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('img/nox_bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 0.5s;
  background-color: #333333;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 10px 15px 17px 0 rgba(0,0,0,.5);
  z-index: 9999;
}

header.shadow {
    background: #6e0f3b;
}

.logo{
    display:inline-block;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 15px;
}

.logos {
  height: 50px;
  width: 170px;
}

.userimg {
  margin: 5px;
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  z-index: 1;
}

.usercirc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: auto;
  height: 50px;
  background: #222;
  border-radius: 50px;
  z-index: 2;
}

.usercirc ul li a{
  display: block;
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 18px 14px;
  font-size: 14px;
  width: auto;
}
.usercirc ul li{
  position: relative;
  list-style: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.usercirc ul li ul {
  display: block;
  position: absolute;
  background-color: #222;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
}

.usercirc ul li ul li a {
  padding: 12px 14px;
  margin-right: 0px;
  font-size: 12px;
}

.usercirc ul li ul li {
  width: 110px;
  
}

.usercirc ul li ul li a:hover {
  background-color: #333;
}

.usercirc ul li:hover ul {
  visibility: visible;
}

.navbar{
    display: flex;
    column-gap: 3rem;
}
.navbar li{
    position: relative;
    list-style: none;
}

.navbar a{
    font-size:  1rem;
    font-weight: 500;
    font-family: "Montserrat Alternates", sans-serif;
    color: aliceblue;
    text-decoration: none;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: aquamarine;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after, .navbar::after {
    width: 100%
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btnL {
    padding: 0.7rem 1.4rem;
    margin-left: 20px;
    background: #D9D9D9;
    color: #706C61    ;
    font-weight: bold;
    font-family: "Montserrat Alternates", monospace;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #706C61;
    margin-right: 20px;
    margin-left: 40px;
}

.btnL:hover {
    background: #befffc;
    color: #000;
}
  
  .next {
      display: flex;
      justify-content: center;
      padding: 0.7rem 10rem;
      background: #fff;
      color: #706C61    ;
      font-weight: bold;
      font-family: "Poppins", monospace;
      border-radius: 20rem;
      text-decoration: none;
      color: #706C61;
  }
  
  .next:hover {
      background: #befffc;
      color: #000;
  }

  .logcen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .login-wrapper {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background: transparent;
    border: 2px rgba(206, 204, 204, 0.2);
    backdrop-filter: blur(2px);
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(203, 245, 255, 0.5);

  }

  .login-wrapper h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
  }

  .login-wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }

  .login-wrapper p {
    display: flex;
    align-content: center;
    font-family: 'Poppins', sans-serif;
  }

  .input-box {
    width: auto;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
  }
  .input-box p {
    width: auto;
  }

  .input-box1 textarea {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
    padding: 20px 45px 20px 20px;
    margin-bottom: 20px;
  }

  .input-box input::placeholder {
    color: #b0b0b0;
  }

  .input-box1 textarea::placeholder {
    color: #b0b0b0;
  }

  .input-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forgot a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .login-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }

  .login-wrapper .btn:hover {
    background: #befffc;
  }

  .login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px
  }

  .register-link .p {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .register-link a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .register-link p a:hover {
    text-decoration: underline;
  }

  .cmbobx {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
    width: 145px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cmbobx select {
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #D9D9D9;
  }