@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('img/nox_bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

  .img-box {
    z-index: 1;
    position: relative;
    width: 540px;
    height: 450px;
    margin: 10px;
    margin-bottom: 110px;
    left: 8%;
    background-color: #333;
    border-radius: 20px;
    top: 40px;
    border: 2px rgba(206, 204, 204, 0.2);
    box-shadow: 0px 0px 30px rgba(203, 245, 255, 0.5);
  }
  
  .img-slider {
    z-index: 2;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 20px;
    background-color: #333;
    border-radius: 20px;
    top: 20px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 20px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    top: 390px;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background-color: rgba(255, 255, 255, 0.5);
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: aquamarine;
    box-shadow: 0 02px rgba(0, 0, 0, 0.5);
}
  
  .menu-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1C1C1C;
    font-size: 30px;
    padding: 40px;
    border: 5px;
  }

  .menu-tag h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;  
    text-align: center;
  }

  .tag {
    animation: text 3s 1;
  }

  @keyframes text {
    0% {
      color: #1C1C1C
    }
    30% {
      letter-spacing: 25px;
    }
    85% {
      letter-spacing: 8px;
    }
  }

  .menu-tag h2::before, .menu-tag h2::after{
    content: "";
    height: 3px;
    background-color: #fff;
    display: block;
    width: 400px;
  }

  .prods-slide {
    animation: slideAnim 2s ease-in-out;
  }

  @keyframes slideAnim {
    0% {
      transform: translateX(-500px);
    }
    60% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(10px);
    }
  }

  .prods-container h1{
    margin: 10vh auto;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;  
    text-align: center;
  }

  .prods-container h1::before {
    content: "";
    height: 20px;
    background-color: #fff;
    display: block;
    width: 20px;
    margin-left: 410px;
    border-radius: 50%;
  }

  .prods-container h1::after{
    content: "";
    height: 20px;
    background-color: #fff;
    display: block;
    width: 20px;
    border-radius: 50%;
  }


  .prods-cont {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .drinks-slide {
    animation: slideAnim2 2s ease-in-out;
  }

  @keyframes slideAnim2 {
    0% {
      transform: translateX(500px);
    }
    60% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .drink {
    display: grid;
    width: 170px;
    height: 270px;
    background-color: #666  ;
    justify-items: center;
    border-radius: 20px;
    opacity: .85;
    transition: 0.5s ease-in-out;
  }

  .drink img {
    margin-top: 25px;
    height: 130px;
    width: 130px;
  }

  .drink h3{
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  .drink .btnOrder{
    position: absolute;
    padding: 10px 30px;
    margin-top: 110%;
    background-color: #6e0f3b;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    z-index: -5;
    opacity: 0;
  }

  .drink:hover .btnOrder{
    position: absolute;
    opacity: 1;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }


  .drink:hover h3{
    transition: 0.60s ease-in-out;
    opacity: 0
  }

  .drink:hover {
    width: 170px;
    height: 27  0px;
    background-color: #666  ;
    border-radius: 20px;
    opacity: 1;
    transform: translateY(10px);
  }

  .drinks-cont {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .rating .rate {
    position: absolute;
    z-index: -1;
  }
  
  .food {
    display: grid;
    width: 170px;
    height: 270px;
    background-color: #666  ;
    justify-items: center;
    border-radius: 20px;
    opacity: .85;
    transition: 0.5s ease-in-out;
    margin-bottom: 100px;
  }

  .food img {
    margin-top: 25px;
    height: 130px;
    width: 130px;
  }

  .food h3{
    text-align: center;
    font-weight: 2px;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  .food .btnOrder{
    position: absolute;
    padding: 10px 30px;
    margin-top: 110%;
    background-color: #6e0f3b;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    z-index: -5;
    opacity: 0;
  }

  .food:hover .btnOrder{
    position: absolute;
    opacity: 1;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .food:hover h3{
    transition: 0.5s ease-in-out;
    opacity: 0
  }

  .food:hover {
    width: 170px;
    height: 27  0px;
    background-color: #666  ;
    border-radius: 20px;
    opacity: 1;
    transform: translateY(10px);
  }

  footer {
    display: grid;
    background-color: #333333;
    padding: 10px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    color: #fff;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
    border-radius: 6px;
  }

  /* About Section */
  .about-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #1C1C1C;
    margin-top: 10%;
    font-size: 30px;
    padding: 40px;
    border: 5px;
  }

  .about-tag h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;  
    text-align: center;
  }
  .about-tag h2::before, .about-tag h2::after{
    content: "";
    height: 3px;
    background-color: #fff;
    display: block;
    width: 400px;
  }

  .client-info {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .client-pic {
    margin: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 390px;
    background: #333;
    border-radius: 20px;
  }

  .client-pic img{
    height: 380px;
    width: 370px;
    border-radius: 20px;
  }

  .client-desc {
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .client-pic1 {
    margin: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 390px;
    background: #333;
    border-radius: 20px;
  }

  .client-pic1 img{
    height: 380px;
    width: 370px;
    border-radius: 20px;
  }

  .client-pic2 {
    margin: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 550px;
    background: #333;
    border-radius: 20px;
  }

  .client-pic2 img{
    height: 240px;
    width: 600px;
    border-radius: 20px;
  }


  


