@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('img/nox_bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: 0.5s;
    background-color: #333333;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 10px 15px 17px 0 rgba(0,0,0,.5);
    z-index: 9999;
  }
  
  header.shadow {
      background: #6e0f3b;
  }
  
 .logo{
      display:inline-block;
      align-items: center;
      column-gap: 0.5rem;
      margin-left: 20px;
  }

  .logo img {
    height: 50px;
    width: 170px;
  }

  .navbar{
      display: flex;
      column-gap: 3rem;
  }
  .navbar li{
      position: relative;
      list-style: none;
      margin-right: 10px;
  }
  
  .navbar a{
      font-size:  1rem;
      font-weight: 500;
      font-family: "Montserrat Alternates", sans-serif;
      color: aliceblue;
      text-decoration: none;
  }
  
  .navbar a::after{
      content: '';
      width: 0;
      height: 2px;
      background: aquamarine;
      position: absolute;
      bottom: -4px;
      left: 0;
      transition: 0.4s all linear;
  }
  
  .navbar a:hover::after, .navbar .home-active::after {
      width: 75%;
      margin-left: 18px;
  }
  
  #menu-icon{
      font-size: 24px;
      cursor: pointer;
      z-index: 1000001;
      display: none;
  }
  
  .next {
      display: flex;
      justify-content: center;
      padding: 0.7rem 10rem;
      background: #fff;
      color: #706C61    ;
      font-weight: bold;
      font-family: "Poppins", monospace;
      border-radius: 20rem;
      text-decoration: none;
      color: #706C61;
  }
  
  .next:hover {
      background: #befffc;
      color: #000;
  }

  .logcen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .login-wrapper {
    width: auto;
    background: transparent;
    border: 2px rgba(206, 204, 204, 0.2);
    backdrop-filter: blur(2px);
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(203, 245, 255, 0.5);

  }

  .login-wrapper h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
  }

  .login-wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }


  .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder {
    color: #9a9a9a;
  }

  .input-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forgot a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .login-wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }

  .login-wrapper .btn:hover {
    background: #befffc;
  }

  .login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px
  }

  .register-link .p {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .register-link a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .register-link p a:hover {
    text-decoration: underline;
  }